.fundo-home 
	display: none
	+breakpoint($tablet)
		display: block
		img 
			width: 100%	
			margin-top: 100px


.conteudo
	min-height: 1025px
	margin-top: -5px
	z-index: 0
	background:
		image: url("../images/fundo-conteudo-home.jpg")
		position: top center
		repeat: no-repeat
		attachment: fixed
		size: cover
#owl-demo .item 
	img
    	display: block
    	width: 100%
    	height: auto
    	margin-top: 100px
		