header
	.logo-responsivo
		img 
			display: none
			+breakpoint($tablet)
				display: block
				padding: 0px
				width: 150px
				margin: 0px
				margin-top: -80px
				float: right
			+breakpoint($celubot)
				width: 80px
			+breakpoint($celular)
				margin-top: -65px	
	.titulo
		h1 
			display: none
			color: $branco
			font-size: 50px
			text-align: center
			margin: 0px
			white-space: nowrap
			+breakpoint($tablet)
				display: block
			+breakpoint($celular)
				font-size: 30px
				margin-top: 20px
		h3
			display: none
			color: $branco
			font-size: 30px
			text-align: center	
			margin: 0px
			white-space: nowrap	
			+breakpoint($tablet)
				display: block
			+breakpoint($celular)
				font-size: 20px	

	width: 100%
	background-color: $azul-claro
	#btn-menu
		display: none
	label
		display: none
		padding-top: 0px
		color: $branco
		font-size: 40px
		margin-top: -65px
		margin-left: 25px
		width: 40px
		height: 45px
		+transition(.2s)
		&:hover
			cursor: pointer
		+breakpoint($tablet)
			display: block
		+breakpoint($celular)
			margin-top: -50px
	.responsivo
		ul 
			list-style: none
			display: none
			background-color: $azul-claro
			+breakpoint($tablet)
				display: flex 
				flex-direction: column
				margin-top: 12px
				margin-left: -520px
			+breakpoint($celular)
				margin-top: 25px	
			li 
				margin: 0px
				border-top: solid 1px $branco
				+transition(.2s)
				&:hover
					background-color: $azul-escuro
				a 
					padding: 9px
					padding-right: 300px
					padding-left: 40px
					display: block
					color: $branco	
					text-decoration: none
					font-size: 35px
					+breakpoint($celubot)
						padding-right: 100px
		+breakpoint($tablet)
			position: relative
			z-index: 5
			width: 80%	
			transition: all .3s
	.fechar
		display: none


#btn-menu
	&:checked ~
		.fechar
			display: block
		.abrir
			display: none	
		.responsivo
			margin-left: 520px	
		.video	

