header
	.logo-responsivo
		img 
			display: none
			+breakpoint($tablet)
				display: block
				padding: 0px
				width: 180px
				margin: 0px
				margin-top: 5px
				margin-right: 20px
				float: right
			+breakpoint($celular)
				margin-top: 0px
				width: 80px
	width: 100%
	background-color: $azul-claro
	#btn-menu
		display: none
	label
		display: none
		padding-top: 0px
		color: $branco
		font-size: 50px
		margin-top: 0px
		margin-left: 25px
		width: 40px
		height: 45px
		+transition(.2s)
		&:hover
			cursor: pointer
		+breakpoint($tablet)
			display: block
			margin-top: 15px		
	.responsivo
		ul 
			list-style: none
			display: none
			background-color: $azul-claro
			+breakpoint($tablet)
				display: flex 
				flex-direction: column
				margin-top: 35px
				margin-left: -520px	
			li 
				margin: 0px
				border-top: solid 1px $branco
				+transition(.2s)
				&:hover
					background-color: $azul-escuro
				a 
					padding: 9px
					padding-right: 300px
					padding-left: 40px
					display: block
					color: $branco	
					text-decoration: none
					font-size: 35px
					+breakpoint($celubot)
						padding-right: 100px
		+breakpoint($tablet)
			position: relative
			z-index: 5
			width: 80%	
			transition: all .3s
	.fechar
		display: none


#btn-menu
	&:checked ~
		.fechar
			display: block
		.abrir
			display: none	
		.responsivo
			margin-left: 520px	
		.video	

